.wrap{
    background:skyblue;
    width: 100%;
    height: 100%;
}
body :global(.login-form){
    max-width: 300px;
}
body :global(.login-form-forgot){
    float: right;
}
body :global(.login-form-button){
    width: 100%;
}